@charset "UTF-8";

/* 基本設定 */

html {
    font-size: 62.5%;
}

body {
    color: #333;
    font-size: 1.6rem;
    font-family: 'Noto Sans', sans-serif;
    line-height: 1.5;
}

main {
    max-width: 920px;
    padding: 20px 0;
    margin: auto;
}

section {
    padding: 15px 0;
}

p {
    text-align: center;
}

input {
    height: 30px;
    padding: 5px;
    border: 1px solid #bbb;
}

.btn {
    font-size: 14px;
    padding: 0 4px;
    border-radius: 4px;
    transition: 0.3s;
}

.btn.deleteBtn {
    color: #333;
    background: #fff;
    border: 1px solid #bbb;
}

.btn.deleteBtn:hover {
    color: #fff;
    background: #333;
}

.btn.submitBtn {
    color: #fff;
    background: #2d3c94;
    padding: 2px 8px;
    margin: 5px 0 0 5px;
    border: 1px solid #2d3c94;
}

.btn.submitBtn:hover {
    color: #003a75;
    background: #fff;
}


/* 各タイトル */

.title {
    text-align: center;
    font-weight: bold;
}

.siteTitle {
    font-size: 3.2rem;
    font-family: 'Scheherazade', serif;
    color: #fff;
    background: #333;
    padding: 20px 0;
    margin-bottom: 18px;
}

.pageTitle {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.2rem;
    margin-bottom: 20px;
}

.pageTitle:before {
    display: inline-block;
    content: '';
    background: #333;
    width: 12px;
    height: 12px;
    margin-right: 6px;
}

.sectionTitle {
    font-size: 1.9rem;
    margin-bottom: 18px;
}

.dateTitle:before {
    display: inline-block;
    content: '';
    background: url(/img/icon_calendar.png) no-repeat;
    background-size: cover;
    width: 17px;
    height: 17px;
    margin-right: 4px;
}

.borderTitle {
    margin-bottom: 10px;
}

.borderTitle:after {
    display: block;
    content: '';
    background: #333;
    width: 50px;
    height: 2px;
    margin: 5px auto 0;
}


/* ナビゲーション */

nav {
    margin-bottom: 10px;
}

nav ul {
    max-width: 600px;
    display: flex;
    justify-content: center;
    margin: auto;
}

nav ul li {
    width: 33%;
    min-height: 30px;
    text-align: center;
}

nav ul li:after {
    content: '';
    display: block;
    background: #444;
    width: 30px;
    height: 2px;
    margin: auto;
    transition: 0.3s;
}

nav ul li a {
    display: inline-block;
    font-size: 1.4rem;
    font-weight: bold;
    width: 100%;
    height: 100%;
    line-height: 30px;
}

nav ul li:hover:after {
    width: 60px;
}


/* タスク一覧 */

.taskMessage {
    display: block;
    max-width: 400px;
    padding: 10px 0;
    margin: auto;
    border: 1px solid #bbb;
}

.taskMessage.mb20 {
    margin-bottom: 20px;
}

.tableWrap {
    width: 480px;
    margin: auto;
    /* 工数表示 */
}

.tableWrap.mb20 {
    margin-bottom: 20px;
}

.tableWrap .taskTable {
    width: 100%;
    font-size: 1.5rem;
}

.tableWrap .taskTable tr {
    border-bottom: 1px solid #ddd;
}

.tableWrap .taskTable tr th,
.tableWrap .taskTable tr td {
    padding: 2px 5px;
}

.tableWrap .taskTable tr th {
    text-align: center;
}

.tableWrap .taskTable tr th.taskChkHead {
    width: 50px;
}

.tableWrap .taskTable tr th.taskHourHead {
    width: 80px;
}

.tableWrap .taskTable tr th.taskDeleteHead {
    width: 55px;
}

.tableWrap .taskTable tr td {
    vertical-align: middle;
}

.tableWrap .taskTable tr td.taskChk {
    text-align: center;
}

.tableWrap .taskTable tr td.taskHour {
    text-align: right;
}

.tableWrap .taskTable tr td.taskDelete {
    text-align: center;
}

.tableWrap .taskTable.addTable tr {
    border: none;
}

.tableWrap .taskTable.addTable tr td.taskName .taskNameInput {
    width: 100%;
}

.tableWrap .taskTable.addTable tr td.taskHour {
    text-align: right;
}

.tableWrap .taskTable.addTable tr td.taskHour .taskHourInput {
    width: 50px;
    margin-right: 5px;
}

.tableWrap .hourArea {
    display: flex;
    align-items: center;
    margin-top: 5px;
    margin-left: 5px;
}

.tableWrap .hourArea span {
    display: inline-block;
    color: #fff;
    font-size: 1.3rem;
    background: #555;
    padding: 2px 4px;
    margin-right: 6px;
}


/* セクション間スタイル */

.sectionDivide {
    text-align: center;
    margin: 25px 0;
}

.sectionDivide span {
    display: inline-block;
    background: #333;
    width: 8px;
    height: 8px;
    margin: 0 20px;
    border-radius: 50%;
}

.calenderWrap {
    text-align: center;
}

.calenderWrap>div {
    width: 260px;
    margin: auto;
}

.csvBtn {
    display: block;
    width: 150px;
    text-align: center;
    color: #fff;
    background: #2d3c94;
    padding: 0 4px;
    padding: 8px;
    margin: 20px auto 0;
    border: 1px solid #2d3c94;
}

.csvBtn:hover {
    color: #2d3c94;
    background: #fff;
}


/* フッター */

footer {
    text-align: center;
    font-size: 1.4rem;
    color: #fff;
    background: #333;
    padding: 15px 0;
}


/* Vue用スタイル */

[v-cloak] {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition: opacity .5s;
}

.fade-enter,
.fade-leave {
    opacity: 0;
}